extends layout

block content
  .row
    .col-sm-10.col-sm-offset-1
      h1 About the site
      p Sales disclosures are required by law in the State of Indiana. The forms are used by local assessing officials and the state for a variety of purposes including sales ratio studies, equalization, and annual market adjustments of assessed values. The forms are designed in response to requests from local officials, title companies, software vendors, and professional appraisers and in consideration of overall data needs. The form collects information required to describe a parcel and determine the validity of its sales price for use in various studies.
      p This site has been developed as a public service for the capture and management of Indiana sales disclosures. This application will allow you to create, retrieve, and edit data for any sale that has been filed by you on our online sales disclosure application.
