doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    
    //- stylesheets
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-punk.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

  body(style='padding-top: 50px;')

    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') SDO
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='/about') About
            li
              a(href='#news') News
            li
              a(href='/sdo/search') Search
            li
              a(href='#dashboard') Dashboard
            li
              a(href='/contact') Contact
            li
              a(href='/help') Help
          ul.nav.navbar-nav.navbar-right
            if (!user.isAuth)
              li
                a(href='/login') Login
              li
                a(href='/register') Register
            if (user.isAuth)
              li
                a(href='api/security/logout') Logout
    
    .clearfix
    
    .page-container
      if (user.isAuth)
        .sidebar-wrapper.hidden-xs
          .sidebar
            ul.nav.nav-sidebar
              li.active
                a(href='#') Dashboard

      .content-wrapper
        .container-fluid.page-content
          block content
        
    footer.footer
      .container
        p.text-muted Place content here.  
        
    //- scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
    script(src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js')
    script(src='//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.min.js')
    script(src='../javascripts/general.js')
    block scripts
