html {
  height: 100%;
}

body {
  background-color: #f1f1f1;
  padding-bottom: 60px;
  height: 100%;
}

.page-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  background-color: #FFFFFF;
}

.content-wrapper {
  height: 100%;
}

.sidebar-wrapper {
  display: block;
}

.sidebar {
  display: block;
  background-color: #7DBB06;
  float: left;
  width: 235px;
}

.page-content {
  margin-left: 235px;
  /*background-color: #FFFFFF;*/
  min-height: 100%;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #33ffff;
}


/* panel styles */
.panel.with-actions > .panel-heading:after {
  clear: both;
}

.panel.with-actions > .panel-heading:after,
.panel.with-actions > .panel-heading:before {
  content: " ";
  display: table;
}

.panel.with-actions > .panel-heading > .caption {
  float: left;
  display: inline-block;

}

.panel.with-actions > .panel-heading > .tools {
    float: right;
    display: inline-block;
}


/* new input styles */
.range-input {
  display: inline-block;
}

.range-divider {
  width: 29px;
  font-size: 10px;
  text-align: center;
}

/* jQuery datatable's style*/
.dataTables_empty {
    text-align: center;
}

@media (max-width: 991px) {

  .sidebar {
    display: none;
  }

  .page-content {
    margin-left: 0px;
  }

}
