mixin counties(selectName, selectId)
  select.form-control.input-sm(name= selectName, id= selectId)
    option(value='00', selected='selected') Any
    option(value='01') ADAMS
    option(value='02') ALLEN
    option(value='03') BARTHOLOMEW
    option(value='04') BENTON
    option(value='05') BLACKFORD
    option(value='06') BOONE
    option(value='07') BROWN
    option(value='08') CARROLL
    option(value='09') CASS
    option(value='10') CLARK
    option(value='11') CLAY
    option(value='12') CLINTON
    option(value='13') CRAWFORD
    option(value='14') DAVIESS
    option(value='15') DEARBORN
    option(value='16') DECATUR
    option(value='17') DEKALB
    option(value='18') DELAWARE
    option(value='19') DUBOIS
    option(value='20') ELKHART
    option(value='21') FAYETTE
    option(value='22') FLOYD
    option(value='23') FOUNTAIN
    option(value='24') FRANKLIN
    option(value='25') FULTON
    option(value='26') GIBSON
    option(value='27') GRANT
    option(value='28') GREENE
    option(value='29') HAMILTON
    option(value='30') HANCOCK
    option(value='31') HARRISON
    option(value='32') HENDRICKS
    option(value='33') HENRY
    option(value='34') HOWARD
    option(value='35') HUNTINGTON
    option(value='36') JACKSON
    option(value='37') JASPER
    option(value='38') JAY
    option(value='39') JEFFERSON
    option(value='40') JENNINGS
    option(value='41') JOHNSON
    option(value='42') KNOX
    option(value='43') KOSCIUSKO
    option(value='44') LAGRANGE
    option(value='45') LAKE
    option(value='46') LAPORTE
    option(value='47') LAWRENCE
    option(value='48') MADISON
    option(value='49') MARION
    option(value='50') MARSHALL
    option(value='51') MARTIN
    option(value='52') MIAMI
    option(value='53') MONROE
    option(value='54') MONTGOMERY
    option(value='55') MORGAN
    option(value='56') NEWTON
    option(value='57') NOBLE
    option(value='58') OHIO
    option(value='59') ORANGE
    option(value='60') OWEN
    option(value='61') PARKE
    option(value='62') PERRY
    option(value='63') PIKE
    option(value='64') PORTER
    option(value='65') POSEY
    option(value='66') PULASKI
    option(value='67') PUTNAM
    option(value='68') RANDOLPH
    option(value='69') RIPLEY
    option(value='70') RUSH
    option(value='71') ST. JOSEPH
    option(value='72') SCOTT
    option(value='73') SHELBY
    option(value='74') SPENCER
    option(value='75') STARKE
    option(value='76') STEUBEN
    option(value='77') SULLIVAN
    option(value='78') SWITZERLAND
    option(value='79') TIPPECANOE
    option(value='80') TIPTON
    option(value='81') UNION
    option(value='82') VANDERBURGH
    option(value='83') VERMILLION
    option(value='84') VIGO
    option(value='85') WABASH
    option(value='86') WARREN
    option(value='87') WARRICK
    option(value='88') WASHINGTON
    option(value='89') WAYNE
    option(value='90') WELLS
    option(value='91') WHITE
    option(value='92') WHITLEY
