include ./counties
include ./states
include ./propertyRange

mixin searchTabPropertyDetails(tabId)
  .col-sm-12(id= tabId)
    .row
      .form-group.col-sm-6.col-md-4.col-lg-3
        label County
        //- +countries('country', 'search_prop_contry')
        +counties('county', 'search_prop_county')
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Tax District
        select.form-control.input-sm(name='tax_district')
          option(value='00') Any
      
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Street
        input.form-control.input-sm(type='text', name='street')
          
      .form-group.col-sm-6.col-md-4.col-lg-3
        label City
        input.form-control.input-sm(type='text', name='city')
      
  
      .form-group.col-sm-6.col-md-4.col-lg-3
        label State
        +states('state', 'search_prop_state')
        
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Zipcode
        .input-group.input-group-sm
          input.form-control.range-input(type='text', name='search_prop_zip_1', maxlength='5')
          .input-group-btn
            .range-divider
              | -
          input.form-control.range-input(type='text', name='search_prop_zip_2', maxlength='4')
          
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Acreage
        .input-group.input-group-sm
          input.form-control.range-input(type='text', name='search_prop_acreage_1', value='0.0000')
          .input-group-btn
            .range-divider
              | -
          input.form-control.range-input(type='text', name='search_prop_acreage_2', value='999.9999')
          
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Legal Description
        input.form-control.input-sm(type='text', name='legal_description')
        
  
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Homestead
        select.form-control.input-sm(name='homestead')
          option(value='any') Any
          option(value='true') True
          option(value='false') False

      //- .form-group.col-sm-6.col-md-4.col-lg-3
      //-   label Valid for Trending
      //-   select.form-control.input-sm(name='valid_trending')
      //-     option(value='any') Any
      //-     option(value='true') True
      //-     option(value='false') False
      //-     
      //- .form-group.col-sm-6.col-md-4.col-lg-6
      //-   label Range
      //-   .input-group.input-group-sm
      //-     +propertyRange('search_prop_range_1', 'search_prop_range_1', 0)
      //-     .input-group-btn
      //-       .range-divider
      //-         | -
      //-     +propertyRange('search_prop_range_2', 'search_prop_range_2', 875)        
    

      .form-group.col-sm-12.col-md-12.col-lg-9
        label Property Class Codes (Group)

        .row
          .col-xs-6.col-sm-3
            .checkbox
              label
                input#group1(value='1', type='checkbox', name='pcgroup_01')
                | Ag Improved
            .checkbox
              label
                input#group2(value='1', type='checkbox', name='pcgroup_02')
                | Ag Land
              
            .checkbox  
              label
                input#group3(value='1', type='checkbox', name='pcgroup_03')
                | Comm Improved

          .col-xs-6.col-sm-3
            .checkbox  
              label
                input#group4(value='1', type='checkbox', name='pcgroup_04')
                | Comm Unimproved

            .checkbox
              label
                input#group5(value='1', type='checkbox', name='pcgroup_05')
                | Exempt
            
            .checkbox
              label
                input#group6(value='1', type='checkbox', name='pcgroup_06')
                | Ind Improved
          
          .col-xs-6.col-sm-3
            .checkbox
              label
                input#group7(value='1', type='checkbox', name='pcgroup_07')
                | Ind Unimproved
            
            .checkbox
              label
                input#group8(value='1', type='checkbox', name='pcgroup_08')
                | Mineral Rights
          
            .checkbox 
              label
                input#group9(value='1', type='checkbox', name='pcgroup_09')
                | Res Improved
            
          .col-xs-6.col-sm-3  
            .checkbox
              label
                input#group10(value='1', type='checkbox', name='pcgroup_10')
                | Res unimproved
            .checkbox
              label
                input#group11(value='1', type='checkbox', name='pcgroup_11')
                | Unassigned
              
            .checkbox  
              label
                input#group12(value='1', type='checkbox', name='pcgroup_12')
                | Utility
