mixin searchTabSaleDetails(tabId)
  .col-sm-12(id= tabId)
    
    .row
      .form-group.col-sm-6.col-md-4.col-lg-3
        label SDO ID
        input.form-control.input-sm(name='sdoId', type='text', maxlength='9')
      
      .form-group.col-sm-6.col-md-4.col-lg-3
        label SDF ID
        input.form-control.input-sm(name='sdfId', type='text', maxlength='14')
          
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Parcel #
        input.form-control.input-sm(name='parcel', type='text', maxlength='26')
        
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Legacy Parcel #
        input.form-control.input-sm(name='legacy_parcel', type='text')
    
   
      .form-group.col-sm-6.col-md-4.col-lg-3
        label Sold Price
        .input-group.input-group-sm
          input.form-control.range-input(name='sold_price_from', type='text')
          .input-group-btn
            .range-divider
              | -
          input.form-control.range-input(name='sold_price_to', type='text')

      .form-group.col-sm-6.col-md-4.col-lg-3
        label Sold Date
        .input-group.input-group-sm
          input.form-control.range-input(name='sold_date_from', type='text')
          .input-group-btn
            .range-divider
              | -
          input.form-control.range-input(name='sold_date_to', type='text')
          
      .from-group.col-sm-6.col-md-4.col-lg-3
        label Transfer Date
        .input-group.input-group-sm
          input.form-control.range-input(name='transfer_date_from', type='text')
          .input-group-btn
            .range-divider
              | -
          input.form-control.range-input(name='transfer_date_to', type='text')
