mixin searchTabSellerBuyerDetails(tabId)
  .col-sm-12(id= tabId)
    .form-group.col-sm-6.col-md-4
      label Seller
      input.form-control.input-sm(type='text', name='seller')
        
    .form-group.col-sm-6.col-md-4
      label Buyer
      input.form-control.input-sm(type='text', name='buyer')
        
    .form-group.col-sm-6.col-md-4
      label Preparer
      input.form-control.input-sm(type='text', name='preparer')
