mixin searchTabSaleDetails(tabId)
  div.col-sm-12(id= tabId)
    .form-group
      label SDO ID
      input.form-control(name='sdoId', type='text')
    
    .form-group
      label SDF ID
      input.form-control(name='sdfId', type='text')
        
    .form-group
      label Parcel #
      input.form-control(name='parcel', type='text')
        
    .form-group
      label Legacy Parcel #
      input.form-control(name='legacy-parcel', type='text')
        
    .form-group
      label Sold Price
      input.form-control(name='sold-price-from', type='number')
      input.form-control(name='sold-price-to', type='number')

    .form-group
      label Sold Date
      input.form-control(name='sold-date-from', type='date')
      input.form-control(name='sold-date-to', type='date')
        
    .from-group
      label Transfer Date
      input.form-control(name='transfer-date-from', type='date')
      input.form-control(name='transfer-date-to', type='date')
