mixin searchTabSellerBuyerDetails(tabId)
  .col-sm-12(id= tabId)
    .form-group
      label Seller
      input.form-control(type='text', name='seller')
        
    .form-group
      label Buyer
      input.form-control(type='text', name='buyer')
        
    .form-group
      label Preparer
      input.form-control(type='text', name='preparer')
